body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

button{
    border-radius: 5em;
    padding: 1em;
    background-color: cyan;
    color: rgb(102, 102, 102);
    text-align: center;
    width: 10em;
    border-style: none;
    cursor: pointer;
    font-size: 1em;
    border-color:white;
    font-weight: bold;

}

button:hover{
    background-color: rgb(2, 216, 216);
    transition: 0.25s;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }